<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="defaultTcpBinding">
          <security mode="None" />
        </binding>
        <binding name="oneWayTcpBinding">
          <security mode="None" />
          <reliableSession enabled="true" />
        </binding>
      </netTcpBinding>
    </bindings>
    <serviceHostingEnvironment>
      <serviceActivations>
        <add service="wcfasynctestservice.Service1" relativeAddress="Service1.svc"/>
        <add service="wcfasynctestservice.OneWayService1" relativeAddress="OneWayService1.svc"/>
      </serviceActivations>
    </serviceHostingEnvironment>
    <services>
      <service name="wcfasynctestservice.Service1">
        <endpoint address="net.tcp://localhost:8733/wcfasynctestservice/Service1.svc" binding="netTcpBinding" bindingConfiguration="defaultTcpBinding" contract="wcftestcontracts.IService1" />
      </service>
    <service name="wcfasynctestservice.OneWayService1">
        <endpoint address="net.tcp://localhost:8733/wcfasynctestservice/OneWayService1.svc" binding="netTcpBinding" bindingConfiguration="oneWayTcpBinding" contract="wcftestcontracts.IOneWayService1" />
      </service>
    </services>
  </system.serviceModel>
</configuration>
